*{
    margin:0;
    padding:0;
}
:root{
    --cor-cabecalho:#562D99;
    --cor-fundo1:#562D99;
    --cor-fundo2:#4EBFE9;
    --cor-etudandes:#A4B9D3;
    --cor-rodape:#000000;
    --cor-letras:#FFFFFF;
}
.cabecalho{
    background-color: var(--cor-cabecalho);
    color: var(--cor-letras);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:5px 0 ;
}
.imagem-cabecalho{
    width: 10%;
}
.item-lista-cabecalho{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width:15%;
}
.escola{
    background-image: linear-gradient(#562D99,#4EBFE9);
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}
.estudante-imagem{
    width: 160px;
}
.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}
.estudante-div{
    text-align: center;
    padding: 16px 0;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}