*{
    margin:0;
    padding:0;
}
:root{
    --cor-cabecalho:#383D58;
    --cor-fundo1:#9F16B6;
    --cor-fundo2:#4EBFE9;
    --cor-etudandes:#A4B9D3;
    --cor-rodape:#000000;
    --cor-letras:#FFFFFF;
}
.cabecalho{
    background-color: var(--cor-cabecalho);
    color: var(--cor-letras);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:5px 0 ;
}
.imagem-cabecalho{
    width: 10%;
}
.item-lista-cabecalho{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width:15%;
}
.escola{
    background-image: linear-gradient(#9F16B6,#4EBFE9);
    color:#000000;
}